body {
  font-family: arial, sans-serif;
  font-size: 15px;
}

a {
  text-decoration: none;
}

#main-input-container {
  display: flex;
  justify-content: space-between;
}

#left-input-container {
  display: flex;
  width: 1200px;
  padding: 20px 20px 0 20px;
}

#google-logo {
  height: 33px;
  width: 100px;
  margin-right: 40px;
}

#google-logo-link {
  align-self: center;
}

#search-bar-container {
  display: flex;
  align-items: center;
  border: 1px solid #dfe1e5;
  border-radius: 25px;
  padding: 6px 10px;
}

#search-input {
  width: 670px;
  height: 32px;
  outline-style: none;
  border: none;
  padding-left: 10px;
}

#search-bar-container:hover {
  box-shadow: 0 0 2px #9e9e9e;
}

#microphone-icon {
  width: 26px;
  height: 26px;
}

#search-icon {
  height: 25px;
}
.search-bar-icons {
  padding: 0 10px 0 10px;
  cursor: pointer;
}

#right-input-container {
  display: flex;
  align-content: center;
  justify-content: flex-end;
  align-self: center;
  padding: 20px 20px 0 0;
  width: 300px;
  min-width: 300px;
}

#apps-icon {
  height: 28px;
  align-self: center;
  margin-right: 20px;
}

#sign-in-button {
  background-color: #1973e8;
  color: #fff;
  padding: 10px 26px;
  margin-right: 20px;
  border-radius: 5px;
}

/* Main nav styles */

#main-nav-container {
  display: flex;
  justify-content: space-between;
  width: 800px;
  margin-top: 25px;
  margin-left: 165px;
}

.nav-links {
  color: #5f6368;
  font-size: 14.5px;
  margin-left: 5px;
  padding: 0 10px;
}

#nav-link-container {
  display: flex;
  align-content: center;
  width: 600px;
}

.link-container {
  padding-right: 10px;
  padding-left: 10px;
  font-size: 15px;
  color: #5f6368;
}
.link-container:hover {
  cursor: pointer;
}

.nav-icons {
  margin-bottom: -4px;

  margin-right: 5px;
  height: 18px;
}

#settings-tools {
  margin-right: 40px;
}

#all-nav {
  border-bottom: 3px solid #1973e8;
  padding-bottom: 14px;
  padding-right: 15px;
  padding-left: 10px;
}
hr {
  height: 1px;

  margin: 0;
  opacity: 0.2;
}

#results-info {
  margin-left: 175px;
  font-size: 15px;
  min-width: 1000px;
  margin-bottom: 0;
  color: #5f6368;
}

/* Search results         */

.base-search-result-container {
  display: flex;
  flex-direction: column;
  width: 700px;
  margin-left: 200px;
  margin-top: 20px;
}

.result-link-container {
  margin-bottom: 35px;
}

.link-address {
  color: #202124;
  text-decoration: none;
}

/* Underline only the headers and not address link on top */
.link-address:hover .result-header,
.result-header:hover,
.result-nav-links:hover {
  text-decoration: underline;
}

#ad-font-dot {
  font-weight: bold;
}

#down-icon {
  height: 11px;
  margin-left: 7px;
}

.result-header {
  font-size: 23px;
  font-weight: normal;
  color: #1a0cab;
  margin: 0;
  padding-top: 10px;
}

.result-description {
  margin-top: 8px;
  line-height: 25px;
  margin-bottom: 3px;
}

#plans-products {
  display: flex;
  margin-left: 20px;
}

#plans-products-right,
#plans-products-left {
  margin: 5px;
  width: 280px;
}
#plans-products p {
  margin-top: 5px;
}

.result-nav-links-container {
  display: flex;
  list-style-type: none;
  padding: 0;
  width: 700px;
  margin: 0;
  margin-left: -5px;
}

.result-nav-links {
  margin-top: 5px;
  margin-left: 5px;
  color: #1a0cab;
}

#featured-snippet {
  border: 1px solid #dfe1e5;
  border-radius: 10px;
  padding: 19px 19px 19px 19px;
  width: 710px;
}

#snippet-description {
  margin-top: 0;
  font-size: 18px;
  line-height: 25px;
}

.result-icons {
  margin-right: 10px;
}

#featured-snippet-about {
  display: flex;
  justify-content: flex-end;
  width: 730px;
  margin-bottom: 35px;
}

.snippet-links {
  margin-top: 5px;
  font-size: 14px;
  color: #5f6368;
}

.snippet-links:hover {
  text-decoration: underline;
}

.snippet-icons {
  height: 18px;
  margin-bottom: -6px;
  padding: 0 10px;
}
#videos-intro {
  margin-top: 0;
  font-weight: normal;
  font-size: 23px;
}

/* VIDEOS */
#videos-container {
  display: flex;
  position: relative;
  /* border: 1px solid black; */
  width: 720px;
}

.card-container {
  margin-right: 5px;
  max-width: 33%;
  border: 1px solid #dfe1e5;
  border-radius: 10px;
}

.video-images {
  width: 98%;
  padding-left: 2px;
  margin-top: 2px;
  height: 130px;
}

.video-headings {
  display: block;
  color: #1a0cab;
  padding: 14px;
  font-size: 19px;
  line-height: 25px;
  font-weight: normal;
  margin: 0;
}

.video-channel-name {
  padding-left: 12px;
  margin-top: 50px;
  margin-bottom: 0;
  color: #5f6368;
  font-size: 16px;
}

.youtube-date {
  padding-left: 12px;
  margin-top: 10px;
  font-size: 16px;
}
.youtube-date span {
  color: #5f6368;
}

.video-link:hover {
  text-decoration: underline;
}

#right-arrow {
  position: absolute;
  left: 698px;
  top: 145px;
  height: 30px;
  border-radius: 50%;
  box-shadow: 0 0 5px #9e9e9e;
  background-color: #fffc;
  padding: 4px;
}

#right-arrow:hover {
  cursor: pointer;
}

/* People ask rows */

#people-ask-container {
  margin-top: 40px;
  border: 1px solid #dfe1e5;
  border-radius: 10px;
  width: 720px;
  margin-bottom: 50px;
}

#people-ask-container:last-child {
  border-bottom: none;
}

#people-ask-heading {
  padding: 12px 16px;
  font-size: 22px;
  font-weight: normal;
  margin: 0;
  border-bottom: 1px solid #dfe1e5;
}

.people-ask-row {
  display: flex;
  justify-content: space-between;
  /* margin: 0; */
  border-bottom: 1px solid #dfe1e5;
  padding: 0 15px;
  /* flex-direction: row; */
}

.people-ask-question {
  margin: 0;
  padding: 12px 0;
  font-size: 18px;
}

#down-expand-icon {
  height: 30px;
  align-self: center;
}

.result-date {
  color: #5f6368;
}
