body {
  font-family: arial, sans-serif;
}

#main-input-container {
  display: flex;
  justify-content: space-between;
}

#left-input-container {
  display: flex;
  width: 1200px;
  padding: 20px 20px 0 20px;
}

#google-logo {
  height: 33px;
  width: 100px;
  margin-right: 40px;
}

#google-logo-link {
  align-self: center;
}

#search-bar-container {
  display: flex;
  align-items: center;
  border: 1px solid #dfe1e5;
  border-radius: 25px;
  padding: 6px 10px;
}

#search-input {
  width: 670px;
  height: 32px;
  outline-style: none;
  border: none;
  padding-left: 10px;
}

#microphone-icon {
  width: 26px;
  height: 26px;
}

#search-icon {
  filter: invert(49%) sepia(41%) saturate(4193%) hue-rotate(201deg)
    brightness(98%) contrast(96%);
  width: 18px;
  height: 18px;
}
.search-bar-icons {
  padding: 0 10px 0 10px;
  cursor: pointer;
}

#right-input-container {
  display: flex;
  align-content: center;
  justify-content: flex-end;
  align-self: center;
  padding: 20px 20px 0 0;
  width: 300px;
  min-width: 300px;
}

#apps-icon {
  width: 18px;
  height: 18px;
  align-self: center;
  margin-right: 20px;
}

#sign-in-button {
  background-color: #1973e8;
  color: #fff;
  padding: 10px 26px;
  margin-right: 20px;
  border-radius: 5px;
}

/* Main nav styles */

#main-nav-container {
  display: flex;
  justify-content: space-between;
  width: 800px;
  margin-top: 25px;
  margin-left: 165px;
}

.nav-links {
  text-decoration: none;
  color: #5f6368;
  font-size: 14.5px;
  margin-left: 5px;
  padding: 0 10px;
}

#nav-link-container {
  display: flex;
  align-content: center;
}

.nav-icons {
  margin-right: 5px;
}

#settings-tools {
  margin-right: 40px;
}

#All-search-nav {
  border-bottom: 3px solid #1973e8;
  padding-bottom: 10px;
}
hr {
  margin: 0;
  opacity: 0.2;
}

#results-info {
  margin-left: 185px;
  font-size: 15px;
  color: #5f6368;
}
